<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/dd409ee73c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Upbase | Home</title>
  </head>
  <body>
    <header class="site-header">
      <div class="brand">
        <a class="home-link" href="/" aria-label="Go to homepage">
          <img class="logo" src="/assets/logo.png" alt="Upbase logo" />
          <span class="app-name">Upbase</span>
        </a>
      </div>
      <nav class="menu" aria-label="Primary navigation">
        <% if (currentUser) { %>
        <ul class="user-menu">
          <li>
            <div class="membership"><%= currentUser.membershipStatus %></div>
          </li>
          <li>
            <div class="username <%= currentUser.membershipStatus %>">
              @<%= currentUser.username %>
            </div>
          </li>
          <li>
            <form action="/auth/logout" method="post">
              <button type="submit" class="logout-btn" aria-label="Log out">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </button>
            </form>
          </li>
        </ul>
        <% } else { %>
        <ul class="auth-nav">
          <li>
            <a class="nav-link sign-up-btn" href="/auth/register">Sign Up</a>
          </li>
          <li><a class="nav-link log-in-btn" href="/auth/login">Log In</a></li>
        </ul>
        <% } %>
      </nav>
    </header>
    <main>
      <h1 class="visually-hidden">Home page</h1>
      <aside class="sidebar">
        <section aria-labelledby="create-section-title" class="create-section">
          <h2 id="create-section-title" class="visually-hidden">
            Create Section
          </h2>
          <% if (!currentPath.startsWith('/shared')) { %>
          <div class="button-group" role="group" aria-label="File actions">
            <button id="new-folder-btn" class="create-btn">
              <i class="fa-solid fa-folder"></i><span>New Folder</span>
            </button>
            <button id="new-file-btn" class="create-btn">
              <i class="fa-solid fa-paperclip"></i><span>New File</span>
            </button>
          </div>
          <% } %>
          <ul class="doc-list">
            <li
              class="doc-item <%= currentPath.startsWith('/documents') ? 'active' : '' %>"
            >
              <a href="/documents">My Documents</a>
            </li>
            <li
              class="doc-item <%= currentPath.startsWith('/shared') ? 'active' : '' %>"
            >
              <a href="/shared">Shared With Me</a>
            </li>
          </ul>
        </section>
      </aside>
      <section aria-labelledby="doc-section-title" class="doc-section">
        <h2 id="doc-section-title" class="visually-hidden">Document Section</h2>
        <% if (breadcrumb) { %>
        <nav class="breadcrumb" aria-label="breadcrumb">
          <% breadcrumb.forEach((crumb, index) => { %>
          <% if (crumb.isEllipsis) { %>
          <span><%= crumb.name %></span>
          <% } else { %>
          <a href="<%= crumb.url %>"><%= crumb.name %></a>
          <% } %>
          <% if (index !== breadcrumb.length - 1) { %>
          <i class="fa-solid fa-arrow-right-long"></i>
          <% } %>
          <% }) %>
        </nav>
        <% } %>
        <% if (docs?.length > 0) { %>
        <section class="file-section" aria-labelledby="file-section-title">
          <h3 id="file-section-title" class="visually-hidden">
            File and folder list
          </h3>
          <div class="file-header">
            <button
              class="file-header-column <%= sortBy === 'name' ? order : '' %>"
              data-sort="name"
              aria-sort="<%= sortBy === 'name' ? order : '' %>"
            >
              <span class="label">Name</span>
              <span class="sort-icons" aria-hidden="true">
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
              </span>
            </button>
            <button
              class="file-header-column <%= sortBy === 'size' ? order : '' %>"
              data-sort="size"
              aria-sort="<%= sortBy === 'size' ? order : '' %>"
            >
              <span class="label">Size</span>
              <span class="sort-icons" aria-hidden="true">
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
              </span>
            </button>
            <button
              class="file-header-column <%= sortBy === 'author' ? order : '' %>"
              data-sort="author"
              aria-sort="<%= sortBy === 'author' ? order : '' %>"
            >
              <span class="label">Author</span>
              <span class="sort-icons" aria-hidden="true">
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
              </span>
            </button>
            <button
              class="file-header-column <%= sortBy === 'created' ? order : '' %>"
              data-sort="created"
              aria-sort="<%= sortBy === 'created' ? order : '' %>"
            >
              <span class="label">Created</span>
              <span class="sort-icons" aria-hidden="true">
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
              </span>
            </button>
          </div>
          <ul class="file-list">
            <% docs.forEach((doc, index) => { %>
            <li class="file-item">
              <button
                type="button"
                class="file-row <%= index === 0 && 'active' %>"
                data-id="<%= doc.id %>"
                data-type="<%= doc.type %>"
                data-name="<%= doc.name %>"
                data-size="<%= doc.size %>"
                data-author="<%= doc.author %>"
                data-created-at="<%= doc.createdAt %>"
              >
                <div class="file-row-column">
                  <% if (doc.type === 'folder') { %>
                  <i class="fa-regular fa-folder"></i>
                  <% } else { %>
                  <i class="fa-regular fa-file-lines"></i>
                  <% } %>
                  <span><%= doc.name %></span>
                </div>
                <div class="file-row-column"><%= doc.size %></div>
                <div class="file-row-column"><%= doc.author %></div>
                <div class="file-row-column"><%= doc.createdAt %></div>
              </button>
            </li>
            <% }) %>
          </ul>
          <% if (page.max !== 1) { %>
          <nav class="pagination" aria-label="Pagination">
            <form class="page-indicator" action="" method="get">
              <label for="page-input" class="visually-hidden">Page</label>
              <input type="hidden" name="sortBy" value="<%= sortBy %>" />
              <input type="hidden" name="order" value="<%= order %>" />
              <input
                id="page-input"
                type="number"
                name="page"
                min="1"
                max="<%= page.max %>"
                value="<%= page.current %>"
              />
              <span>
                /
                <%= page.max %>
              </span>
            </form>
            <div class="page-buttons">
              <% if (page.current !== 1) { %>
              <form action="" method="get">
                <input type="hidden" name="sortBy" value="<%= sortBy %>" />
                <input type="hidden" name="order" value="<%= order %>" />
                <input
                  type="hidden"
                  name="page"
                  value="<%= page.current - 1 %>"
                />
                <button
                  id="previous-page"
                  type="submit"
                  aria-label="Previous page"
                >
                  Previous
                </button>
              </form>
              <% } %>
              <% if (page.current !== page.max) { %>
              <form action="" method="get">
                <input type="hidden" name="sortBy" value="<%= sortBy %>" />
                <input type="hidden" name="order" value="<%= order %>" />
                <input
                  type="hidden"
                  name="page"
                  value="<%= page.current + 1 %>"
                />
                <button id="next-page" type="submit" aria-label="Next page">
                  Next
                </button>
              </form>
              <% } %>
            </div>
          </nav>
          <% } %>
        </section>
        <% } else { %>
        <p class="empty-noti">
          It looks like this folder is empty. Upload a file or create a new
          folder to get started.
        </p>
        <% } %>
      </section>
      <% if (docs?.length > 0) { const firstDoc = docs[0];%>
      <aside
        aria-labelledby="file-info-title"
        id="details"
        class="details is-visible"
        data-id="<%= firstDoc.id %>"
      >
        <header>
          <h2 id="file-info-title" class="detail-title">
            <%= firstDoc.type === 'folder' ? 'Folder' : 'File' %> Information
          </h2>
          <button
            aria-label="Close file detail section"
            class="close-detail-btn"
          >
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </header>
        <section class="detail-section">
          <dl class="file-details">
            <div class="file-detail-item">
              <dt>Name</dt>
              <dd id="detail-name"><%= firstDoc.name %></dd>
            </div>
            <div class="file-detail-item">
              <dt>Type</dt>
              <dd id="detail-type">
                <%= firstDoc.type === 'folder' ? 'Folder' : firstDoc.type %>
              </dd>
            </div>
            <div class="file-detail-item">
              <dt>Author</dt>
              <dd id="detail-author"><%= firstDoc.author %></dd>
            </div>
            <div
              class="file-detail-item"
              id="detail-size-field"
              aria-hidden="<%= firstDoc.type === 'folder' %>"
            >
              <dt>Size</dt>
              <dd id="detail-size"><%= firstDoc.size || '—' %></dd>
            </div>
            <div class="file-detail-item">
              <dt>Created at</dt>
              <dd id="detail-created"><%= firstDoc.createdAt %></dd>
            </div>
          </dl>
        </section>
        <div class="button-group" role="group" aria-label="File actions">
          <a
            id="open-btn"
            href="/folders/<%= firstDoc.id %>"
            class="file-action-btn <%= firstDoc.type !== 'folder' ? 'hidden' : '' %>"
            aria-label="View folder's content"
          >
            Open
          </a>
          <a
            id="download-btn"
            href="/files/<%= firstDoc.id %>/download"
            class="file-action-btn <%= firstDoc.type === 'folder' ? 'hidden' : '' %>"
            aria-label="Download file to computer"
          >
            Download
          </a>
          <button id="share-btn" class="file-action-btn">Share</button>
          <button
            id="delete-btn"
            class="file-action-btn"
            data-delete-url="<%= (firstDoc.type === 'folder' ? '/folders/' : '/files/') + firstDoc.id + '/delete' %>"
          >
            Delete
          </button>
        </div>
      </aside>
      <% } %>
    </main>
    <div
      id="create-folder-modal"
      class="modal"
      role="dialog"
      aria-modal="true"
      aria-labelledby="create-folder-title"
      aria-hidden="true"
      hidden
    >
      <div class="modal-content">
        <h2 id="create-folder-title" class="modal-title">Create New Folder</h2>
        <form
          action="/folders"
          method="post"
          class="create-form"
          id="create-folder-form"
        >
          <input
            type="hidden"
            name="parentId"
            value="<%= currentFolderId ?? '' %>"
          />
          <div class="form-field">
            <label for="folder-name">Folder Name</label>
            <input
              value=""
              type="text"
              id="folder-name"
              name="folder"
              placeholder="Enter folder name"
              required
              minlength="1"
              maxlength="100"
              autocomplete="off"
              aria-describedby="folder-error"
              aria-invalid=""
            />
            <p id="folder-error" class="field-error" aria-live="polite">
              Folder name must contain at least one letter or number and cannot
              be only symbols
            </p>
          </div>
          <div
            class="button-group"
            role="group"
            aria-label="Folder creating actions"
          >
            <button
              class="form-btn close-btn"
              type="button"
              aria-label="Cancel and close modal"
            >
              Cancel
            </button>
            <button class="form-btn" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>
    <div
      id="upload-file-modal"
      class="modal"
      role="dialog"
      aria-modal="true"
      aria-labelledby="upload-file-title"
      hidden
    >
      <div class="modal-content">
        <h2 id="upload-file-title" class="modal-title">Upload New File</h2>
        <form
          action="/files"
          method="post"
          class="create-form"
          id="upload-file-form"
          enctype="multipart/form-data"
        >
          <input
            type="hidden"
            name="parentId"
            value="<%= currentFolderId ?? '' %>"
          />
          <div class="form-field">
            <label class="file-control">
              <span class="file-trigger">Choose File</span>
              <span class="file-display" id="file-display" aria-live="polite">
                No file chosen
              </span>
              <input
                type="file"
                id="file-input"
                name="file"
                required
                accept=".png,.jpg,.jpeg,.pdf"
                class="file-input"
                aria-describedby="file-error"
              />
            </label>
            <p id="file-error" class="field-error" aria-live="polite">
              Allowed file types: PDF, JPG, PNG, DOC, DOCX.
            </p>
          </div>
          <div
            class="button-group"
            role="group"
            aria-label="File creating actions"
          >
            <button
              class="form-btn close-btn"
              type="button"
              aria-label="Cancel and close modal"
            >
              Cancel
            </button>
            <button class="form-btn" type="submit">Upload</button>
          </div>
        </form>
      </div>
    </div>
    <div
      id="delete-file-modal"
      class="modal"
      role="dialog"
      aria-modal="true"
      aria-labelledby="delete-file-title"
      hidden
    >
      <div class="modal-content">
        <h2 id="delete-file-title" class="modal-title">Delete Document</h2>
        <form action="" method="post" class="create-form" id="delete-file-form">
          <p class="prompt-question">
            Are you sure to delete this document permanently ?
          </p>
          <div class="button-group" role="group">
            <button
              class="form-btn close-btn"
              type="button"
              aria-label="Cancel and close modal"
            >
              Cancel
            </button>
            <button
              class="form-btn"
              type="submit"
              aria-label="Confirm file deletion"
            >
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>
    <div
      id="share-doc-modal"
      class="modal"
      role="dialog"
      aria-modal="true"
      aria-labelledby="share-doc-title"
      hidden
    >
      <div class="modal-content">
        <h2 id="share-doc-title" class="modal-title">Share Your Documents</h2>
        <form
          action="/share"
          method="post"
          class="create-form"
          id="share-doc-form"
        >
          <div class="form-field radio-field">
            <p class="field-label">Share duration</p>
            <div
              class="radio-group"
              role="radiogroup"
              aria-label="Share duration"
            >
              <label class="radio-option">
                <input type="radio" name="share-duration" value="1" checked />
                <span>1 day</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="share-duration" value="7" />
                <span>7 days</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="share-duration" value="10" />
                <span>10 days</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="share-duration" value="30" />
                <span>30 days</span>
              </label>
            </div>
          </div>
          <div class="copy-field">
            <input
              type="text"
              id="share-link"
              class="copy-input"
              value=""
              readonly
            />
            <button
              type="button"
              class="copy-btn"
              aria-label="Copy share link"
              data-copy-target="share-link"
            >
              Copy
            </button>
          </div>
          <div class="button-group" role="group" aria-label="Share actions">
            <button class="form-btn" type="button">Get Link</button>
            <button
              class="form-btn close-btn"
              type="button"
              aria-label="Close modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="/scripts/index.js"></script>
</html>
